#how-can-I-help {
    background: linear-gradient(#7573bf, #040182);
    color: white;
    align-items: center;
    padding: 3em 0 7em 0;
}
#how-can-I-help .centralize-content {
    text-align: center;
}
#how-can-I-help h2 {
    text-align: left;
    color: white;
    text-shadow: 1px 1px black;
    margin-bottom: 1.5em;
}

#how-can-I-help img {
  border-radius: 25px;
  max-width: 85%;
}
  /*-----------------*/
  .service-div {
    position: relative;
    height: 200px;
    width: 257px;
  }
  .overlay-div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(4, 1, 130, 0.7);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, 
    visibility .3s;
    height: 115% !important;
    border-radius: 25px;
    max-width: 85%;
    max-height: 110%;
    left: 7.5%;
    height: 31.25vh;
  }
  
  .service-div:hover .overlay-div {
    visibility: visible;
    opacity: 1;
    vertical-align: center;
    height: 115% !important;
  }
  /*----------------------------*/
  
  .overlay-div .overlay-text {
  
  }
  
  .overlay-div h2 {
    padding-top: 35% !important;
    font-weight: bold !important;
    color: white !important;
    font-size: 150% !important;
    text-shadow: 1.5px 1px black !important;
    margin: auto !important;
    text-align: center !important;
  }

  .modali-header {
    padding: 1rem 2rem 1.2rem 1.5rem !important;
    background:linear-gradient(to right, #040182, rgba(4, 1, 130, 0.7));
    opacity: .85;
    color: white;
    font-size: 150% !important;
  }
  .modali-body .row {
    margin-bottom: -3%;
  }
  .modali-close-button {
      color: white !important;
      background-color: transparent !important;
      padding: 0% !important;
      font-size: 200% !important;
  }

  .pic-in-modal {
    border-radius: 25px;
    max-width: 115%;
  }

  .col-pic-in-modal {
    flex: 1 !important;
    margin: 1% 4% 1% 1% !important;
    /* overflow: hidden; */
  }

  .col-text-in-modal {
    flex: 2 !important;
  }

  .title-in-modal {
    font-weight: bold !important;
    margin-left: 1%;
    font-size: 115% !important;
  }

  .col-text-in-modal span {
    margin-top: 1%;
  }


  .col-text-in-modal {
    font-size: 115%;
  }

  .raise-text {
    z-index: 9999;
  }







/*---LAPTOPS AND ABOVE---*/

/*-- specific for this project's <h1>--*/

@media screen and (max-width: 992px) and (-webkit-min-device-pixel-ratio: 1) {
   #how-can-I-help {
     display: none;
    }

    #projects-component {
      display: none;
    }
}


@media screen and (max-width: 1072px) and (-webkit-min-device-pixel-ratio: 1) {
  
}


@media screen and (max-width: 992px) and (-webkit-min-device-pixel-ratio: 1) {
  
}

@media screen and (max-width: 870px) and (-webkit-min-device-pixel-ratio: 1) {}
@media screen and (max-width: 770px) and (-webkit-min-device-pixel-ratio: 1) {}
@media screen and (max-width: 657px) and (-webkit-min-device-pixel-ratio: 1) {}


/*iPhone 5*/
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  
}

/*Galaxy 5s*/
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  
}

/*Samsung Galaxy Note 3 Media Queries (In terms of Mobile only)*/

@media only screen and (min-width: 360px) and (max-width: 767px) {
  

}

/* Galaxy Note 9 */

@media only screen and (min-width: 360px) and (max-width: 740px) {
 
}

/*iPhone XR*/
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
 
}

/*iPhone 6/7/8*/
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
 
}

/*iPhone 6+/7+/8+ */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
 
}

/*iPhone X*/
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
 
}

/*iPhone X & XS*/
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  
}

/* iphone XS Max */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
 
}

/*Galaxy 5s*/
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
 
}

/*/////////Other androids///////////*/

/*Samsung Galaxy S9 Media Queries (In terms of Mobile only)*/

@media only screen and (min-width: 360px) and (max-width: 767px) {
 

}


/* My media queries for larger displays */

@media screen and (min-width: 1122px) and (max-width:1550px) and (-webkit-min-device-pixel-ratio: 1) {

}

@media screen and (min-width: 1551px) and (max-width:2000px) and (-webkit-min-device-pixel-ratio: 1) {
  
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {


}

/* ----------- Wide Screens ----------- */

@media only screen and (min-width: 1224px) {
}

@media only screen and (min-width: 1824px) {
}

@media (min-width: 2000) {
}




