.something {
    position: absolute; 
    top: 60%;
    bottom: 20%;
    left: 19% !important;
}

.carousel-overlay-text {
    z-index: 98 !important;
    width: 80%;
    display: block;
    position: absolute; 
    top: 70%; 
    left: 52%; 
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%); 
    transform: translate(-50%,-50%);
    text-align: center; 
    margin: 0; 
 
}

.Typewriter__wrapper{
    z-index: 99 !important;
    font-size: 140% !important; /*500*/
    opacity: .9 !important;
    position: relative !important;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .5) !important;
    font-weight: 350 !important;
    font-family: 'Roboto Mono', monospace !important;
    color: white !important;
    width: 100% !important;
}

.Typewriter {
    color: white;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .5) !important;
}




/*/////////////////// MEDIA QUERIES START /////////////////////////////////*/

/*---LAPTOPS AND ABOVE---*/


@media screen and (max-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
   
  
    .carousel-overlay-text {
       left: 20% !important;
    }

    .Typewriter__wrapper {        
        font-size: 130% !important;
    }
}

@media screen and (max-width: 1026px) and (-webkit-min-device-pixel-ratio: 1) {

    .carousel-overlay-text {
        top: 50% !important;
     }
 
     .Typewriter__wrapper { 
         font-size: 120% !important;
     }
}


@media screen and (max-width: 900px) and (-webkit-min-device-pixel-ratio: 1) {
   
    .carousel-overlay-text {
        top: 34% !important;
     }

    .Typewriter__wrapper { 
        font-size: 100% !important;
    }
}


@media screen and (max-width: 665px) and (-webkit-min-device-pixel-ratio: 1) {
   

    .Typewriter__wrapper { 
       
        display: none;
    }
}



@media screen and (min-width: 1551px) and (max-width:2000px) and (-webkit-min-device-pixel-ratio: 1) {
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
}

/* ----------- Wide Screens ----------- */

@media only screen and (min-width: 1224px) {
}

@media only screen and (min-width: 1824px) {
}

@media (min-width: 2000) {
}


/* --- Cellphones ----------------------------------------------------*/




/*iPhone 5*/
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {

    .carousel-overlay-text {
        
        top: 15% !important;
      
    }
    
    .Typewriter__wrapper { 
        display: inline;
        font-size: 30% !important;
        left: -5% !important;    
    }  

    .Typewriter {
        color: white;
    }
   
}


/*Samsung Galaxy Note 3 Media Queries (In terms of Mobile only)*/

@media only screen and (min-width: 360px) and (max-width: 767px) {
   
    .carousel-overlay-text {
        
        top: 15% !important;
      
    }
    
    .Typewriter__wrapper { 
        display: inline;
        font-size: 40% !important;
        left: -5% !important;    
    }  

    .Typewriter {
        color: white;
    }
   
}
/* Galazy s9 */

@media only screen and (min-width: 360px) and (max-width: 767px) { 
    
    .carousel-overlay-text {
        
        top: 15% !important;
    }
    
    .Typewriter__wrapper { 
        display: inline;
        font-size: 35% !important;
        left: -8% !important;    
    }  

    .Typewriter {
        color: white;
    }


}
/* Galaxy Note 9 */

@media only screen and (min-width: 414px) and (max-width: 846px){
    
   
    .carousel-overlay-text {
        
        top: 15% !important;
      
    }
    
    .Typewriter__wrapper { 
        display: inline;
        font-size: 40% !important;
        left: -5% !important;    
    }  

    .Typewriter {
        color: white;
    }

 }

/*iPhone XR*/
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
	

}

/*iPhone 6/7/8*/
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
	
   
    .carousel-overlay-text {
        
        top: 15% !important;
      
    }
    
    .Typewriter__wrapper { 
        display: inline;
        font-size: 35% !important;
        left: -5% !important;    
    }  

    .Typewriter {
        color: white;
    }
}

/*iPhone 6+/7+/8+ */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
	
    .carousel-overlay-text {
        
        top: 15% !important;
      
    }
    
    .Typewriter__wrapper { 
        display: inline;
        font-size: 52% !important;
        left: -7% !important;    
    }  

    .Typewriter {
        color: white;
    }
}

/*iPhone X*/
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
	
    .carousel-overlay-text {
        
        top: 15% !important;
      
    }
    
    .Typewriter__wrapper { 
        display: inline;
        font-size: 45% !important;
        left: -7% !important;    
    }  

    .Typewriter {
        color: white;
    }
    
}

/*iPhone X & XS*/
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
   
    .carousel-overlay-text {
        
        top: 15% !important;
      
    }
    
    .Typewriter__wrapper { 
        display: inline;
        font-size: 34% !important;
        left: -5% !important;    
    }  

    .Typewriter {
        color: white;
    }
    
}

/* iphone XS Max */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
    .carousel-overlay-text {
        
        top: 15% !important;
      
    }
    
    .Typewriter__wrapper { 
        display: inline;
        font-size: 34% !important;
        left: -5% !important;    
    }  

    .Typewriter {
        color: white;
    }
}

/*Galaxy 5s*/
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    .carousel-overlay-text {
        
        top: 15% !important;
      
    }
    
    .Typewriter__wrapper { 
        display: inline;
        font-size: 34% !important;
        left: -5% !important;    
    }  

    .Typewriter {
        color: white;
    }
}
