.carousel-overlay-text {
    z-index: 98 !important;
    position: absolute; 
    top: 60%;
    bottom: 20%;
    left: 16%;
}

.carousel-overlay-text h1 {
    z-index: 99 !important;
    font-size: 450% !important; /*500*/
    opacity: .9;
    position: relative;
    color: white;
    /*font-family: 'Manrope', sans-serif;*/
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .5);
    font-weight: 350;
    font-family: 'Roboto Mono', monospace;
}

#enEspanol .Typewriter {
    font-weight: '300';
}


/*/////////////////// MEDIA QUERIES START /////////////////////////////////*/

/*---LAPTOPS AND ABOVE---*/

/*-- specific for this project's <h1>--*/

@media screen and (max-width: 1300px) and (-webkit-min-device-pixel-ratio: 1) {
    .carousel-overlay-text {
        top: 60%;
        bottom: 10% important;
        text-align: left;
    }

    .carousel-overlay-text h1 {
        font-size: 400% !important;
    }

    #enEspanol .Typewriter {
        font-size: 100% !important;
        margin-left: -5% !important;
    }

}


@media screen and (max-width: 1072px) and (-webkit-min-device-pixel-ratio: 1) {
  
    .carousel-overlay-text {
        top: 60%;
        bottom: 10% important;
        text-align: left;
    }

    .carousel-overlay-text h1 {
        font-size: 80% !important;
    }

    #enEspanol .Typewriter {
        font-size: smaller !important;
        margin-left: -5% !important;
    }
}


@media screen and (max-width: 1122px) and (-webkit-min-device-pixel-ratio: 1) {
   
    .carousel-overlay-text h1 {
        font-size: 450% !important;
        right: -3%;
    }
    .carousel-overlay-text {
        top: 50%;
    }


    #enEspanol .Typewriter {
        font-size: smaller !important;
        margin-left: -5% !important;
        margin-top: -7% !important;
    }
}

@media screen and (max-width: 992px) and (-webkit-min-device-pixel-ratio: 1) {
   
    .carousel-overlay-text h1 {
        font-size: 400% !important;
        right: -3%;
    }

    .carousel-overlay-text {
        top: 50%;
    }

    #enEspanol .Typewriter {
        font-size: 70% !important;
        margin-left: -5% !important;
        margin-top: 7% !important;
    }
}

@media screen and (max-width: 870px) and (-webkit-min-device-pixel-ratio: 1) {
    
    .carousel-overlay-text h1 {
        font-size: 350% !important;
    }
    .carousel-overlay-text {
        top: 40%;
    }


    #enEspanol .Typewriter {
        font-size: smaller !important;
        margin-top: 10% !important;
    }


}


@media screen and (max-width: 770px) and (-webkit-min-device-pixel-ratio: 1) {
    
    .carousel-overlay-text h1 {
        font-size: 200% !important;
        font-family: "Montserrat", sans-serif;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
        opacity: 1;
        font-weight: 400;
    }

    #enEspanol .Typewriter {
        font-size: smaller !important;
        margin-top: 10% !important;
    }

}

@media screen and (max-width: 657px) and (-webkit-min-device-pixel-ratio: 1) {
    
    .carousel-overlay-text h1 {
        font-size: 150% !important;
        font-weight: 500;
        left: -7%;
    }
    .carousel-overlay-text {
        top: 17%;
    }

    #enEspanol .Typewriter {
        margin-top: 5% !important;
    }
}

/*iPhone 5*/
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
    .carousel-overlay-text h1 {
        font-size: 140% !important;
        font-family: "Montserrat", sans-serif;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
        opacity: 1;
        font-weight: 400;
    }

    .carousel-overlay-text {
 
        top: 30% !important;
        bottom: 10% !important;
        left: 12% !important;
        margin-bottom: 10%;
        height: 5vh;
    }

    #espanol .Typewriter {
        margin-left: -10% !important;
        display: none !important;
    }
}

/*Galaxy 5s*/
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    .carousel-overlay-text h1 {
        font-size: 140% !important;
        font-family: "Montserrat", sans-serif;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
        opacity: 1;
        font-weight: 400;
    }

    .carousel-overlay-text {
 
        top: 20% !important;
        bottom: 10% !important;
        left: 12% !important;
        margin-bottom: 10%;
        height: 5vh;
    }

    .slider-video video {
        /**/;
    }
}

/*Samsung Galaxy Note 3 Media Queries (In terms of Mobile only)*/

@media only screen and (min-width: 360px) and (max-width: 767px) {
    .carousel-overlay-text h1 {
        font-size: 140% !important;
        font-family: "Montserrat", sans-serif;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
        opacity: 1;
        font-weight: 400;
    }

    .carousel-overlay-text {
 
        top: 20% !important;
        bottom: 10% !important;
        left: 12% !important;
        margin-bottom: 10%;
        height: 5vh;
    }

    .slider-video video {
        /**/;
    }
}

/* Galaxy Note 9 */

@media only screen and (min-width: 360px) and (max-width: 740px) {
    .carousel-overlay-text h1 {
        font-size: 140% !important;
        font-family: "Montserrat", sans-serif;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
        opacity: 1;
        font-weight: 400;
    }

    .carousel-overlay-text {
 
        top: 20% !important;
        bottom: 10% !important;
        left: 12% !important;
        margin-bottom: 10%;
        height: 5vh;
    }

    .slider-video video {
        /**/;
    }

 }

/*iPhone XR*/
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
	.carousel-overlay-text h1 {
        font-size: 140% !important;
        font-family: "Montserrat", sans-serif;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
        opacity: 1;
        font-weight: 400;
    }

    .carousel-overlay-text {
        top: 20% !important;
        bottom: 10% !important;
        left: 17% !important;
        margin-bottom: 10%;
        height: 5vh;
    }

    .slider-video video {
        /**/;
    }
}

/*iPhone 6/7/8*/
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
	.carousel-overlay-text h1 {
        font-size: 140% !important;
        font-family: "Montserrat", sans-serif;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
        opacity: 1;
        font-weight: 400;
    }

    .carousel-overlay-text {
        top: 20% !important;
        bottom: 10% !important;
        left: 14% !important;
        margin-bottom: 10%;
        height: 5vh;
    }

    .slider-video video {
        /**/;
    }
}

/*iPhone 6+/7+/8+ */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
	.carousel-overlay-text h1 {
        font-size: 140% !important;
        font-family: "Montserrat", sans-serif;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
        opacity: 1;
        font-weight: 400;
    }

    .carousel-overlay-text {
        top: 20% !important;
        bottom: 10% !important;
        left: 14% !important;
        margin-bottom: 10%;
        height: 5vh;
    }

    .slider-video video {
        /**/;
    }
}

/*iPhone X*/
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
	.carousel-overlay-text h1 {
        font-size: 150% !important;
        font-family: "Montserrat", sans-serif;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
        opacity: 1;
        font-weight: 400;
    }

    .carousel-overlay-text {
        top: 30%;
        bottom: 20%;
        left: 8%;
        text-align: center;
    }

    .slider-video video {
        /**/;
    }
}

/*iPhone X & XS*/
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .carousel-overlay-text h1 {
        font-size: 180% !important;
        font-family: "Montserrat", sans-serif;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
        opacity: 1;
        font-weight: 400;
    }

    .carousel-overlay-text {
        top: 20% !important;
        bottom: 10% !important;
        left: 14% !important;
        margin-bottom: 10%;
        height: 5vh;
    }

    .slider-video video {
        /**/;
    }
}

/* iphone XS Max */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
	.carousel-overlay-text h1 {
        font-size: 180% !important;
        font-family: "Montserrat", sans-serif;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
        opacity: 1;
        font-weight: 400;
    }

    .carousel-overlay-text {
        top: 20% !important;
        bottom: 10% !important;
        left: 20% !important;
        margin-bottom: 10%;
        height: 5vh;
    }

    .slider-video video {
        /**/;
    }
}

/*Galaxy 5s*/
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
	.carousel-overlay-text h1 {
        font-size: 180% !important;
        font-family: "Montserrat", sans-serif;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
        opacity: 1;
        font-weight: 400;
    }

    .carousel-overlay-text {
        top: 20% !important;
        bottom: 10% !important;
        left: 14% !important;
        margin-bottom: 10%;
        height: 5vh;
    }

    .slider-video video {
        /**/;
    }
}

/*/////////Other androids///////////*/

/*Samsung Galaxy S9 Media Queries (In terms of Mobile only)*/

@media only screen and (min-width: 360px) and (max-width: 767px) {
	.carousel-overlay-text h1 {
        font-size: 180% !important;
        font-family: "Montserrat", sans-serif;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
        opacity: 1;
        font-weight: 400;
    }

    .carousel-overlay-text {
        top: 20% !important;
        bottom: 10% !important;
        left: 14.5% !important;
        margin-bottom: 10%;
        height: 5vh;
    }

    .slider-video video {
        /**/
    }
}


/* My media queries for larger displays */

@media screen and (min-width: 1122px) and (max-width:1550px) and (-webkit-min-device-pixel-ratio: 1) {
    .carousel-overlay-text h1 {
        
        /* color: red !important; */
        left: 3%
    }

}

@media screen and (min-width: 1551px) and (max-width:2000px) and (-webkit-min-device-pixel-ratio: 1) {
    .carousel-overlay-text h1 {
        
        /* color: blue !important; */
        left: 17%;
    }
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {

    .carousel-overlay-text h1 {
       
    }

}

/* ----------- Wide Screens ----------- */

@media only screen and (min-width: 1224px) {
}

@media only screen and (min-width: 1824px) {
}

@media (min-width: 2000) {
}
