.about-info-area { 
    margin: 2rem 0;
  }

.about-info-area .curve { 
    width: 20%; height: auto;
    min-width: 150px;
    float: left;
    margin-right:2rem; 
    border-radius: 50%;
    -webkit-shape-outside:circle();
    shape-outside:circle();
  }

  .about-info-area p {
    font-size: 150%;
    margin-bottom: 5%;
    line-height: 165%;
  }

  .about-info-area h2 {
    margin-bottom: 1.5%;
  }

  .about-info-area span {
      color: #040182;
      opacity: .7;
  }

