.navbar-css {
    box-shadow: 0 5px 5px -2px rgba(0,0,0,.2);
    z-index: 99;
    background: rgba(186, 177, 177, 0.25);
} 

.sticky {
    position: fixed;
    width: 100%;
}

.nav-link {
  color: white !important;
}

.nav-link a {
  color: white !important;
}

.header {
    transition: background-color .2s;
  }

.header.scrolled {
    background-color: rgba(0, 0, 0, .1) !important;
  }



/*/////////////////// MEDIA QUERIES START /////////////////////////////////*/

/*iPhone 5*/
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {

.navbar-css {
    box-shadow: none;
    z-index: 99;
    background: #040182;
    opacity: .8;
} 

.navbar-brand {
  max-width: 70%;
  margin-top: -15%;
}

button.navbar-toggler {  
  color: white;
  background-color: azure;
  border-radius: 5px;
  opacity: .6;
}

.nav-link {
  color: white !important;
  font-weight: bold !important;
}

.nav-link a {
  color: white !important;
  font-weight: bold !important;
}

.header {
    transition: background-color .2s;
  }

.header.scrolled {
    background-color: rgba(0, 0, 0, .1) !important;
  }

}

/*Galaxy 5s*/
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
	
.navbar-css {
  box-shadow: none;
  z-index: 99;
  background: #040182;
  opacity: .70;
} 

.navbar-brand {
max-width: 70%;
margin-top: -1%;
}

button.navbar-toggler {  
color: white;
background-color: azure;
border-radius: 5px;
opacity: .6;
}

.nav-link {
  color: white !important;
  font-weight: bold !important;
}

.nav-link a {
  color: white !important;
  font-weight: bold !important;
}

.header {
  transition: background-color .2s;
}

.header.scrolled {
  background-color: rgba(0, 0, 0, .1) !important;
}

}

/*Samsung Galaxy S9 Media Queries (In terms of Mobile only)*/

@media only screen and (min-width: 360px) and (max-width: 767px) {

  .navbar-css {
    box-shadow: none;
    z-index: 99;
    background: #040182;
    opacity: .70;
} 

.navbar-brand {
  max-width: 70%;
  margin-top: -1%;
}

button.navbar-toggler {  
  color: white;
  background-color: azure;
  border-radius: 5px;
  opacity: .6;
}

.nav-link {
  color: white !important;
  font-weight: bold !important;
}

.nav-link a {
  color: white !important;
  font-weight: bold !important;
}

.header {
    transition: background-color .2s;
  }

.header.scrolled {
    background-color: rgba(0, 0, 0, .1) !important;
  }

}

/*iPhone XR*/
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
	
.navbar-css {
  box-shadow: none;
  z-index: 99;
  background: #040182;
  opacity: .70;
} 

.navbar-brand {
max-width: 70%;
margin-top: -1%;
}

button.navbar-toggler {  
color: white;
background-color: azure;
border-radius: 5px;
opacity: .6;

}

.nav-link {
color: white !important;
font-weight: bold !important;
}

.nav-link a {
color: white !important;
font-weight: bold !important;

}


.header {
  transition: background-color .2s;
}

.header.scrolled {
  background-color: rgba(0, 0, 0, .1) !important;
}

}

/*iPhone 6/7/8*/
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
	
.navbar-css {
  box-shadow: none;
  z-index: 99;
  background: #040182;
  opacity: .70;
} 

.navbar-brand {
max-width: 70%;
margin-top: -1%;
}

button.navbar-toggler {  
color: white;
background-color: azure;
border-radius: 5px;
opacity: .6;
}

.nav-link {
  color: white !important;
  font-weight: bold !important;
}

.nav-link a {
  color: white !important;
  font-weight: bold !important;
}

.header {
  transition: background-color .2s;
}

.header.scrolled {
  background-color: rgba(0, 0, 0, .1) !important;
}

}

/*iPhone 6+/7+/8+ */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
	
.navbar-css {
  box-shadow: none;
  z-index: 99;
  background: #040182;
  opacity: .70;
} 

.navbar-brand {
max-width: 70%;
margin-top: -1%;
}

button.navbar-toggler {  
color: white;
background-color: azure;
border-radius: 5px;
opacity: .70;
}

.nav-link {
  color: white !important;
  font-weight: bold !important;
}

.nav-link a {
  color: white !important;
  font-weight: bold !important;
}

.header {
  transition: background-color .2s;
}

.header.scrolled {
  background-color: rgba(0, 0, 0, .1) !important;
}

}

/*iPhone X*/
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
	
.navbar-css {
  box-shadow: none;
  z-index: 99;
  background: #040182;
  opacity: .70;
} 

.navbar-brand {
max-width: 70%;
margin-top: -1%;
}

button.navbar-toggler {  
color: white;
background-color: azure;
border-radius: 5px;
opacity: .6;
}

.nav-link {
  color: white !important;
  font-weight: bold !important;
}

.nav-link a {
  color: white !important;
  font-weight: bold !important;
}

.header {
  transition: background-color .2s;
}

.header.scrolled {
  background-color: rgba(0, 0, 0, .1) !important;
}

}

/*iPhone XS*/
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {

  .navbar-css {
    box-shadow: none;
    z-index: 99;
    background: #040182;
    opacity: .70;
} 

.navbar-brand {
  max-width: 70%;
  margin-top: -15%;
}

button.navbar-toggler {  
  color: white;
  background-color: azure;
  border-radius: 5px;
  opacity: .6;
}

.nav-link {
  color: white !important;
  font-weight: bold !important;
}

.nav-link a {
  color: white !important;
  font-weight: bold !important;
}

.header {
    transition: background-color .2s;
  }

.header.scrolled {
    background-color: rgba(0, 0, 0, .1) !important;
  }

}

/* iphone XS Max */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
	
.navbar-css {
  box-shadow: none;
  z-index: 99;
  background: #040182;
  opacity: .70;
} 

.navbar-brand {
max-width: 70%;
margin-top: -1%;
}

button.navbar-toggler {  
color: white;
background-color: azure;
border-radius: 5px;
opacity: .6;
}

.nav-link {
  color: white !important;
  font-weight: bold !important;
}

.nav-link a {
  color: white !important;
  font-weight: bold !important;
}

.header {
  transition: background-color .2s;
}

.header.scrolled {
  background-color: rgba(0, 0, 0, .1) !important;
}

}

/*Galaxy 5s*/
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
	
.navbar-css {
  box-shadow: none;
  z-index: 99;
  background: #040182;
  opacity: .70;
} 

.navbar-brand {
max-width: 70%;
margin-top: -1%;
}

button.navbar-toggler {  
color: white;
background-color: azure;
border-radius: 5px;
opacity: .6;
}

.nav-link {
  color: white !important;
  font-weight: bold !important;
}

.nav-link a {
  color: white !important;
  font-weight: bold !important;
}

.header {
  transition: background-color .2s;
}

.header.scrolled {
  background-color: rgba(0, 0, 0, .1) !important;
}

}

/*/////////Other androids///////////*/

/*Samsung Galaxy S9 Media Queries (In terms of Mobile only)*/

@media only screen and (min-width: 360px) and (max-width: 767px) {
	
.navbar-css {
  box-shadow: none;
  z-index: 99;
  background: #040182;
  opacity: .70;
} 

.navbar-brand {
max-width: 70%;
margin-top: -1%;
}

button.navbar-toggler {  
color: white;
background-color: azure;
border-radius: 5px;
opacity: .6;
}

.nav-link {
  color: white !important;
  font-weight: bold !important;
}

.nav-link a {
  color: white !important;
  font-weight: bold !important;
}

.header {
  transition: background-color .2s;
}

.header.scrolled {
  background-color: rgba(0, 0, 0, .1) !important;
}

}

/*---LAPTOPS AND ABOVE---*/

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
}

/* ----------- Wide Screens ----------- */

@media only screen and (min-width: 1224px) {
}

@media only screen and (min-width: 1824px) {
}

@media (min-width: 2000) {
}


