#projects-component {
    margin-top: 2em;
 }

 #projects-component span {
  color: #040182;
  text-shadow: 0.5px 1px azure;
  opacity: .7;
 }

#projects-component .col p {
  font-size: 120% !important;
  margin-bottom: 5% !important;
  line-height: 165% !important;
}

#projects-component h2 {
    text-align: left !important;
    font-weight: bolder;
    color: #7573bf;
    text-shadow: .5px 1px #040182;
    font-size: 230%;
    margin-bottom: 3%;
 }

 #projects-component h3 {
   font-weight: bolder;
 }

 #projects-component p {
   color: #464646;
 }
  /*-----------------*/
  .project-div {
    position: relative;
    height: 92.5%;
    width: 100%;
    text-align: left;
    margin: 0 auto;
    max-width: 79% !important;
  }

  .project-text { /*new*/
    position: relative;
    height: 100% !important;
    width: 100%;
    text-align: left;
    margin: 0 auto;
    max-width: 100%;

  }
  .project-overlay-div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(4, 1, 130, 0.6);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s, 
    visibility .3s;
    transition: opacity .3s, 
    visibility .3s;
    height: 100% !important;
    border-radius: 25px;
    max-width: 80%;
    max-height: 100% !important;
    right: 20%;
  }

  .project-div:hover .project-overlay-div {
    visibility: visible;
    opacity: 1;
    vertical-align: center;
    height: 99% !important;
  }

  .project-div-img {
      /* max-height: 70%; */
      width: 80%;
      border-radius: 25px;
      max-width: 85%;
      max-height: 100%;
      border: 2px solid #7573bf;
      margin-right: 0% !important;
      -webkit-box-flex: 1;
              flex: 1;
      margin-right: -20% !important;

  }

  #projects-component .row {
      margin-bottom: 5%;
  }

  .overlay-content {
    color: white;
    text-align: center;
    width: 70%;
  }


  .project-overlay-div .overlay-content {
    color: rgba(255, 255, 255, 1);
    text-align: center !important;
    font-weight: italic;
    -webkit-transition: .5s;
    transition: .5s;
    margin: 30% auto -25% auto;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 1);
  }
  .project-overlay-div .overlay-content.visit-website {
    font-size: 150%;
  }
  .project-overlay-div .overlay-content.view-code {
    font-size: 150%;
  }
  .inner-overlay-div a:hover {
    text-decoration: none;
  }
  
  .overlay-content:hover {
    background: rgba(255, 255, 255, 0.60);
    color:#040182;
  }


  .project-overlay-div {
  }
  
  /*----------------------------*/
  
  
  @media screen and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 1) {
  
    .project-overlay-div.movie-project {
      max-height: 75% !important; 
    }


    .project-overlay-div.news-project {
      max-height: 78% !important; 
    }

    .project-overlay-div.vit-project {
      max-height: 95% !important; 
    }
    
    
  }


@media screen and (max-width: 992px) and (-webkit-min-device-pixel-ratio: 1) {

   #projects-component {
     display: none;
   }
   
}